<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zach Durden Portfolio</title>
  <link href="../assets/snake.css" rel="stylesheet">
  <script type="text/javascript">
    function submitted() {
      var submitName = document.getElementById("submitName").value;
      localStorage.setItem("submitName", submitName);
      return true;
    }
  </script>
</head>

<body class="container full-height-grow">
  <header class="header">Tiamat</header>
  <div class="allButtons">
    <div class="siteMain" action="/">
      <a href="/" class="btn"><strong>Home</strong></a>
    </div>
  </div>
  <form style="margin-bottom:20px" action="snakegame" method="post" onsubmit="submitted();" target="_self" align="center">
    <input class="form1" name="name" id="submitName" type="text" placeholder="Your Name Here" style="font-family:Manifesto;;margin-top:20px;border:4px solid grey;padding:10px;font-size:20px">
    <input class="form2" id="subClick" type="submit" value="Submit" style="font-family:Manifesto;;margin-top:20px;border:4px solid grey;padding:10px;font-size:20px;">
  </form>
  <div class="plat">
    <p class="platWords">
      GAIN STRENGTH!</p>
  </div>
  <div class='game'>
    <div id='home'>
      <canvas id='mycanvas' width='350' height='350'>
      </canvas>
    </div>
    <button id='btn3' style="color:gray;font-family:Manifesto;margin-top:20px;border:4px solid grey;padding:10px;font-size:20px;background-color:transparent;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black">START</button>
  </div>

  <div class="bottomLinks">
    <div class="link2" action="https://github.com/ZDDurden">
      <a href="https://github.com/ZDDurden" class="btn2" target="_blank"><strong><img src="/assets/github.png" style="width:12%">Github</strong></a>
    </div>
    <div class="link3" action="https://linkedin.com/in/zachary-durden90">
      <a href="https://linkedin.com/in/zachary-durden90" class="btn2" target="_blank"><strong><img src="/assets/linked2.png" style="width:12%">Linkedin</strong></a>
    </div>
  </div>
</body>
<script src="../assets/snake.js"></script>

</html>