body {
  background-color: lightseagreen;
}
h1 {
  color: lightcoral;
}
.bdy {
  background-color: lightseagreen;
}
div {
  background-color: lightgoldenrodyellow;
}
div h3 {
  text-transform: uppercase;
}
