@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');
@font-face {
  font-family: Munich;
  src: url("Munich.ttf") format("opentype");
}

@font-face {
  font-family: Manifesto;
  src: url("MANIFESTO.ttf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  background-image: url("/assets/fogmountain.jpg");
  font-family: Manifesto;
  font-size: 1.2rem;
  color: grey;
  color: grey;
  border: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

header {
  margin-top: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  margin-left: .5rem;
  margin-right: 1rem;
}

.allButtons {
  margin-top: .8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: .7em;
}

.btn {
  color: grey;
  background-image: "/assests/fogmountain.jpg";
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: 1rem;
  border: 10px;
  border-color: grey;
}

.btn2 {
  color: grey;
  background-image: "/assests/fogmountain.jpg";
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: 1rem;
  border: 10px;
  border-color: grey;
}

.link1 {
  margin-top: 3rem;
  max-width: 140px;
}

.about {
  margin-top: 3rem;
  max-width: 130px;
}

.project1 {
  margin-top: 3rem;
  max-width: 140px;
}

.link2 {
  margin-top: 3rem;
  max-width: 150px;
}

.link3 {
  margin-top: 3rem;
  max-width: 150px;
}

.para {
  margin-top: .8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.platWords {
  line-height: 1em;
}

.plat {
  margin-top: .8em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  font-family: Manifesto;
  line-height: 10px;
  margin: 2%;
}

#canvas {
  margin-left: 2%;
  margin-right: 2%;
  background-image: url("/fogmountain.jpg");
}