<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Zach Durden Portfolio</title>
    <link href="../assets/contact.css" rel="stylesheet" />
  </head>

  <body class="container full-height-grow">
    <header class="header">Contact Me:</header>
    <div class="allButtons">
      <div class="home" action="/">
        <a href="/" class="btn"><strong>Home</strong></a>
      </div>
    </div>
    <div class="divList">
      <p class="list">Email: ZDDurden@crimson.ua.edu</p>
      <p class="list">Phone: (205) 427-4844</p>
    </div>
    <div class="bottomLinks">
      <div class="link2" action="https://github.com/ZDDurden">
        <a href="https://github.com/ZDDurden" class="btn2" target="_blank"
          ><strong
            ><img src="/assets/github.png" style="width:12%" />Github</strong
          ></a
        >
      </div>
      <div class="link3" action="https://linkedin.com/in/zachary-durden90">
        <a
          href="https://linkedin.com/in/zachary-durden90"
          class="btn2"
          target="_blank"
          ><strong
            ><img src="/assets/linked2.png" style="width:12%" />Linkedin</strong
          ></a
        >
      </div>
    </div>
  </body>
</html>
