<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Zach Durden Portfolio</title>
    <link href="../assets/project1.css" rel="stylesheet" />
  </head>

  <body class="container full-height-grow">
    <header class="header">Platformer</header>
    <div class="allButtons">
      <div class="home" action="/">
        <a href="/" class="btn"><strong>Home</strong></a>
      </div>
    </div>
    <div class="plat">
      <p class="platWords">
        Use the arrow keys and your platforming skills to reach the blue diamond
      </p>
    </div>
    <canvas id="canvas"> </canvas>

    <div class="bottomLinks">
      <div class="link2" action="https://github.com/ZDDurden">
        <a href="https://github.com/ZDDurden" class="btn2" target="_blank"
          ><strong
            ><img src="/assets/github.png" style="width:12%" />Github</strong
          ></a
        >
      </div>
      <div class="link3" action="https://linkedin.com/in/zddurden">
        <a
          href="https://linkedin.com/in/zddurden
          class="btn2"
          target="_blank"
          ><strong
            ><img src="/assets/linked2.png" style="width:12%" />Linkedin</strong
          ></a
        >
      </div>
    </div>
  </body>
  <script src="../assets/platformer.js"></script>
</html>
