<!DOCTYPE html>
<html>
<head>
<title>Tic Tac Toe</title>
<link rel="stylesheet" href="../assets/tictactoe.css">
<script>
        function display() {
            var submitName = localStorage.getItem("submitName");
            document.write("Hello, "+submitName);
        }
    </script>
</head>
<body align="center"><strong>
    <p style="font-size:60px;font-family:'Courier New', Courier, monospace;">TIC-TAC-TOE</p>
    <p style="font-size:40px;font-family:'Courier New', Courier, monospace;"><script>display();</script></p>
    <table id="tbl" style="font-size:50px;font-family:'Courier New', Courier, monospace" align="center">
        <tr>
            <td class="cell" id="0" align="center"></td>
            <td class="cell" id="1" align="center"></td>
            <td class="cell" id="2" align="center"></td>
        </tr>
        <tr>
            <td class="cell" id="3" align="center"></td>
            <td class="cell" id="4" align="center"></td>
            <td class="cell" id="5" align="center"></td>
        </tr>
        <tr>
            <td class="cell" id="6" align="center"></td>
            <td class="cell" id="7" align="center"></td>
            <td class="cell" id="8" align="center"></td>
        </tr>
    </table>
    <div style="padding:10px" class="end">
        <div style="padding:10px;font-size:35px;font-family:'Courier New', Courier, monospace" class="text"></div>
    </div>
    <button style="font-family:'Courier New', Courier, monospace;margin-top:20px;border:4px solid black;padding:10px;background-color:white;font-size:20px;background-color:lightblue" onClick="newGame()"><strong>New Game</strong></button>
</strong>
</body>
<script src="../assets/tictactoe.js"></script>
</html>